@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Outfit:wght@100..900&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b9bba8;
    font-family:"Nunito Sans", sans-serif;
}

.container {
    max-width: 800px;
    padding: 20px;
    background-color:#dcbc98;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #2a3723;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    padding-top: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 35px;
}

li {
    list-style-type: disc;
    padding-left: 25px;
    margin-bottom: 2px;
    font-size: 20px;
}